.service {
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/background.svg');
  background-size:cover;
}

.service-content {
  width: 100%;
  min-height: var(--util-height);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.service-content-txt {
  width: 100%;
  height: auto;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-content-txt p {
  margin-bottom: 15px;
  text-align: justify;
}

.service-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--util-height);
  overflow: hidden;
}
.service-content-img img {
  height: 110%;
  width: auto;
}

.icon {
  width: 25px;
}

@media (max-width: 700px) {
  .service-content {
    grid-template-columns: 1fr;
    }

    .service-content-img {
      height: auto;
      width: 100%;
      max-height: 45vh;
    }

    .service-content-img img {
      height: auto;
      width: 100%;
    }
}