.wap-link a {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  background: #25d366;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 30px;
  box-shadow: 1px 1px 10px 1px var(--secondary-color);
}

@media (max-width: 700px) {
  .wap-link a {
    bottom: 2rem;
    right: 2rem;
  }
}