.contact {
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/background.svg');
  background-size:cover;
}

.contact-content {
  width: 100%;
  height: var(--util-height);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.contact-content-txt {
  width: 100%;
  height: 100%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-content-img {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/laboratorio.jpg');
  background-size: cover;
  background-position: center;
}

.icon {
  width: 25px;
}

.contact-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .contact-content {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    }

    .contact-content-img {
      min-height: 40vh;
    }
}