.contact {
  align-items: center;
  justify-content: center;
}

.contact-content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
}

.contact-content-txt {
  width: 100%;
  min-height: var(--util-height);
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-content-txt h2, h4 {
  margin-bottom: 10px;
}

.contact-content-txt p {
  margin-bottom: 10px;
}

.contact-content-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow:hidden;
}

.contact-content-img div:nth-child(1) {
  width: 100%;
  max-height: var(--util-height);
}

.icon {
  width: 25px;
}

.contact-item {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}

.contact-map {
  width: auto;
  height: auto;
  padding: 5px;
}

.contact-map iframe {
  width: 100%;
  min-height: 220px;
  border: none;
  border-radius: 5px;
}

.contact-social {
  display: flex;
  align-items: center;
  justify-content: left;
}

.contact-social a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0 10px;
}

.contact-info a {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 700px) {
    .contact-content {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
    
    .contact-content-txt {
      width: 100%;
      height: auto;
      padding: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .contact-content-img {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow:hidden;
    } 
}