.qualidade {
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/background.svg');
  background-size:cover;
}

.qualidade-content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.qualidade-content-txt {
  width: 100%;
  height: 100%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qualidade-content-txt p {
  margin-bottom: 15px;
}

.qualidade-content-img {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/laboratorio.jpg');
  background-size: cover;
  background-position: center;
}

.icon {
  width: 25px;
}

.certificate-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-color: var(--blue-beek);
  border-radius: 5px;
}

.certificate-download:hover {
  background-color: #075434;
}

.certificate-download a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 700px) {
  .qualidade-content {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    }

    .qualidade-content-img {
      min-height: 40vh;
    }
}